body,
nav{
    background: url(../assets/back.png)no-repeat center center fixed;
    background-size: cover;
}
.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    font-size: 32px;
    color: white;
}
.form{
    margin-top: 8%;
}

.container.d-flex {
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
.postcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 0 0 32px 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    max-width: 500px;
    border-radius: 10px;
}
.postcard__title {
    font-size: 32px;
}
.postcard__text {
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
    font-size: 20px;
}
h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.close{
    width: 25px;
    cursor: pointer;
    color: black;
    font-size: 25px;
}